//main page css

html,
body {
  background-color: white;
  margin: 0;
  font-family: 'Ubuntu Sans', sans-serif;
}

button:hover {
  cursor: pointer;
}

#content {
  height: auto;
  background-color: white;
  padding-left: 3rem;
  padding-right: 3rem;
}

//header css

#nav-container {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 4rem;
  width: calc(100% - 6rem);
  //   margin-left: 1rem;
  //   padding-left: 1rem;
  //   padding-right: 1rem;
  background-color: white;
  border-bottom: 3px solid black;
  padding-top: 1rem;
  z-index: 3;
}

#header-background {
  margin: 0;
  position: fixed;
  height: 5rem;
  border-bottom: 3px solid white;
  margin-left: -1rem;
  width: 100%;
  background-color: white;
}

#nav-link-container {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: end;
}

.mobile {
  visibility: hidden;
}

.nav-link {
  appearance: none;
  border: none;
  background-color: white;
  margin: 1rem;
  color: black;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  border-radius: 25px;
  padding: 0rem 0.5rem;
}

.nav-link:hover {
  transform: scale(1.2);
  color: white;
  background-color: black;
}

#logo-container {
  grid-area: 1/1/2/2;
}

#logo {
  height: 3rem;
  width: auto;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 1rem;
}

#logo:hover {
  cursor: help;
}

.roll {
  height: 3rem;
  width: auto;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 1rem;
  display: block;
  position: absolute;
  left: 0;
  animation: spin 6s ease-in-out 1, moveLeftToRight 6s ease-in-out 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1800deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveLeftToRight {
  0% {
    left: 0%;
  }
  50% {
    left: calc(100% - 4rem);
  }
  100% {
    left: 0%;
  }
}

//me container css

#me-container {
  background-color: white;
  display: grid;
  grid-template-rows: 8rem repeat(4, 7rem) 8rem;
  grid-template-columns: 1fr 1fr 5fr;
  //   background-image: url('../images/pexels-hngstrm-1939485.jpg');
  //   background-size: cover;
  padding-bottom: 3rem;
  border-bottom: 1px solid black;
}

#me-background {
  grid-area: 2/3/7/4;
  //   background-image: url('../images/pexels-hngstrm-1939485.jpg');
  //   background-size: cover;
}

#me-background-image {
  height: 90%;
  width: 100%;
  object-fit: fill;
  overflow: hidden;
  box-shadow: rgba(13, 13, 13, 0.4) -5px 5px, rgba(13, 13, 13, 0.3) -10px 10px,
    rgba(13, 13, 13, 0.2) -15px 15px, rgba(13, 13, 13, 0.1) -20px 20px,
    rgba(13, 13, 13, 0.05) -25px 25px;
}

#first-name {
  grid-area: 2/1/3/4;
  padding-left: 5%;
  margin: 0;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 2px white;
  color: black;
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

#last-name {
  grid-area: 3/1/4/4;
  padding-left: 10%;
  font-size: 7rem;
  margin: 0;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 2px white;
  color: black;
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#first-title {
  grid-area: 4/1/5/4;
  padding-left: 15%;
  font-size: 7rem;
  margin: 0;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 2px white;
  color: black;
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#last-title {
  grid-area: 5/1/6/4;
  padding-left: 20%;
  font-size: 7rem;
  margin: 0;
  letter-spacing: 0.5rem;
  -webkit-text-stroke: 2px white;
  color: black;
  opacity: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-text-transition {
  opacity: 1;
}

//about me section

.about-me-para,
.about-me-title {
  margin: 3rem 6rem;
}

.about-me-title {
  font-size: 3rem;
}

#about-me-para-1 {
  font-weight: 600;
}

//skills section

#all-skills-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 5rem;
  border-bottom: 1px solid black;
}

.skill-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  height: 5rem;
  margin: 10%;
  transition: all 0.25s ease-in-out;
}

.skill-container:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.skill-logo {
  padding-top: 0.5rem;
  height: 50%;
  width: auto;
}

.skill-label {
  font-size: 0.75rem;
  margin: auto;
}

//project css

#projects-container {
  padding-bottom: 5rem;
  border-bottom: 1px solid black;
}

.projects-title,
.projects-disclosure {
  margin: 3rem 6rem;
}

.projects-title {
  font-size: 3rem;
}

.projects-disclosure {
  font-size: 1rem;
}

.project-container-odd {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 5rem 1fr 2rem 2rem;
  padding: 3rem 6rem;
  gap: 1rem;
}

.project-container-even {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 5rem 1fr 2rem 2rem;
  padding: 3rem 6rem;
  gap: 1rem;
}

.project-title-odd {
  grid-area: 1/1/2/3;
  justify-self: center;
  font-size: 2rem;
  text-wrap: nowrap;
}

.project-title-even {
  grid-area: 1/2/2/4;
  justify-self: center;
  font-size: 2rem;
  text-wrap: nowrap;
  padding-top: none;
}

.project-para-odd {
  grid-area: 2/1/3/3;
}

.project-para-even {
  grid-area: 2/2/3/4;
}

.project-tech-odd {
  grid-area: 4/1/5/4;
  justify-self: center;
  align-self: bottom;
}

.project-tech-even {
  grid-area: 4/1/5/4;
  justify-self: center;
  align-self: bottom;
}

.project-source-odd {
  grid-area: 3/1/4/2;
  justify-self: end;
}

.project-live-odd {
  grid-area: 3/2/4/3;
  justify-self: start;
}
.project-source-even {
  grid-area: 3/2/4/3;
  justify-self: end;
}

.project-live-even {
  grid-area: 3/3/4/4;
  justify-self: start;
}

.project-source-odd,
.project-live-odd,
.project-source-even,
.project-live-even {
  text-align: center;
  // padding-top: 1rem;
  background-color: white;
  border: 3px solid black;
  height: 2rem;
  width: 6rem;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  line-height: 2rem;
  transition: all 0.25s ease-in-out;
}

.project-source-odd:after,
.project-source-even:after {
  font-family: 'Material Icons';
  content: 'code';
  vertical-align: bottom;
}

.project-live-odd:after,
.project-live-even:after {
  font-family: 'Material Icons';
  content: 'open_in_new';
  vertical-align: bottom;
}

// .material-symbols-outlined {
//   vertical-align: middle;
//   padding-bottom: 0.25rem;
//   font-size: 1.2rem;
// }

.project-source-odd:hover,
.project-live-odd:hover,
.project-source-even:hover,
.project-live-even:hover {
  transform: scale(1.1);
  color: white;
  background-color: black;
  text-decoration: underline;
}

.project-image-container-odd {
  grid-area: 1/3/4/4;
  height: 230px;
  width: 460px;
  align-self: center;
  justify-self: center;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 4px 8px 0px inset;
}

.project-image-container-even {
  grid-area: 1/1/4/2;
  height: 230px;
  width: 460px;
  align-self: center;
  justify-self: center;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 4px 8px 0px inset;
}

.project-image-odd {
  margin-top: 1rem;
  margin-left: 1rem;
  height: 100%;
  width: auto;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project-image-even {
  margin-top: 1rem;
  margin-left: -1rem;
  height: 100%;
  width: auto;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project-image-odd:hover,
.project-image-even:hover {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.project-bottom-border {
  height: 1px;
  width: 50%;
  margin-left: 25%;
  justify-self: center;
  background-color: black;
}

//contact css

#contact-container {
  margin: 3rem 6rem;
}

.contact-title {
  font-size: 3rem;
}

.contact-para {
  font-size: 1rem;
}

#contact-content-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

#contact-links-container {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 6rem);
}

.contact-button {
  height: 3rem;
  width: auto;
}

.contact-button:hover {
  cursor: pointer;
}

#linkedin-button {
  grid-area: 1/1/2/2;
}
#github-button {
  grid-area: 2/1/3/2;
}

#email-button {
  grid-area: 3/1/4/2;
}

#pdf-button {
  grid-area: 4/1/5/2;
}
.contact-button-background {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3.5rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  height: 3rem;
  width: 0rem;
  opacity: 1;
  color: white;
  visibility: hidden;
  text-wrap: nowrap;
  background-color: white;
  padding-left: 1rem;
  transition: width 2s, opacity 1s, background-color 2s, visibility 2s;
}

#linkedin-button-background {
  grid-area: 1/1/2/2;
}

#github-button-background {
  grid-area: 2/1/3/2;
}

#email-button-background {
  grid-area: 3/1/4/2;
}

#pdf-button-background {
  grid-area: 4/1/5/2;
}

#linkedin-button:hover + #linkedin-button-background {
  background-color: black;
  // background: radial-gradient(
  //   circle at 10% 20%,
  //   rgb(90, 92, 106) 0%,
  //   rgb(32, 45, 58) 81.3%
  // );
  opacity: 1;
  width: 60%;
  visibility: visible;
  transition: width 2s, opacity 1s, background-color 2s;
}

#github-button:hover + #github-button-background {
  background-color: black;
  // background: radial-gradient(
  //   circle at 10% 20%,
  //   rgb(90, 92, 106) 0%,
  //   rgb(32, 45, 58) 81.3%
  // );
  opacity: 1;
  width: 60%;
  visibility: visible;
  transition: width 2s, opacity 1s, background-color 2s;
}

#email-button:hover + #email-button-background {
  background-color: black;
  // background: radial-gradient(
  //   circle at 10% 20%,
  //   rgb(90, 92, 106) 0%,
  //   rgb(32, 45, 58) 81.3%
  // );
  opacity: 1;
  width: 60%;
  visibility: visible;
  transition: width 2s, opacity 1s, background-color 2s;
}

#pdf-button:hover + #pdf-button-background {
  background-color: black;
  // background: radial-gradient(
  //   circle at 10% 20%,
  //   rgb(90, 92, 106) 0%,
  //   rgb(32, 45, 58) 81.3%
  // );
  opacity: 1;
  width: 60%;
  visibility: visible;
  transition: width 2s, opacity 1s, background-color 2s;
}

#contact-form-container {
  position: relative;
}

#contact-form {
  margin-bottom: 5rem;
}

.contact-items-container {
  text-align: right;
  padding: 1rem;
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 2rem;
}

.contact-labels {
  align-self: center;
  width: 5rem;
}

.contact-fill-in {
  min-width: 13rem;
}

#comment-fill-in {
  appearance: none;
  height: 10rem;
  resize: none;
  font-family: 'Ubuntu Sans', sans-serif;
}

#contact-submit {
  width: 7rem;
  appearance: none;
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-left: 7rem;
  margin-top: 9rem;
  border-radius: 2rem;
  transition: transform 0.5s ease-in-out;
}

#contact-submit:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

#footer {
  border-top: 3px solid black;
  height: 2rem;
  padding-top: 1rem;
  margin: auto 0;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1000px) {
  #content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #nav-container {
    width: calc(100% - 2rem);
  }

  #all-skills-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .about-me-para,
  .about-me-title {
    margin: 3rem 1rem;
  }

  #projects-container {
    padding-bottom: 1rem;
  }

  .projects-title,
  .projects-disclosure {
    margin: 3rem 1rem;
  }

  .projects-disclosure {
    margin-bottom: 1rem;
  }

  .project-container-odd {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 5rem 1fr 2rem 2rem;
    padding: 3rem 1rem;
    gap: 1rem;
  }

  .project-container-even {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 5rem 1fr 2rem 2rem;
    padding: 3rem 1rem;
    gap: 1rem;
  }

  #contact-container {
    margin: 3rem 1rem;
  }

  .project-image-container-odd,
  .project-image-container-even {
    height: 175px;
    width: 350px;
  }

  #linkedin-button-background,
  #github-button-background,
  #email-button-background,
  #pdf-button-background {
    background-color: black;
    opacity: 1;
    width: 60%;
    visibility: visible;
    transition: width 2s, opacity 1s, background-color 2s;
  }
}

@media (max-width: 750px) {
  #content {
    max-width: 100vw;
  }
  #nav-container {
    top: 0;
  }

  #me-container {
    grid-template-rows: 8rem repeat(4, 4rem) 2rem;
    grid-template-columns: 1fr;
  }

  #first-name {
    font-size: 3rem;
    padding-left: 0%;
  }

  #last-name {
    font-size: 3rem;
    padding-left: 3%;
  }

  #first-title {
    font-size: 3rem;
    padding-left: 6%;
  }

  #last-title {
    font-size: 3rem;
    padding-left: 9%;
  }

  #all-skills-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
  }

  .project-container-odd,
  .project-container-even {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 15rem 1fr 2rem 4rem;
    padding: 3rem 1rem;
    gap: 1rem;
  }

  .project-title-even,
  .project-title-odd {
    grid-area: 1 / 1 / 2 / 3;
  }

  .project-para-even,
  .project-para-odd {
    grid-area: 3 / 1 / 4 / 3;
  }

  .project-source-even,
  .project-source-odd {
    grid-area: 4 / 1 / 5 / 2;
  }

  .project-live-even,
  .project-live-odd {
    grid-area: 4 / 2 / 5 / 3;
  }

  .project-tech-even,
  .project-tech-odd {
    grid-area: 5 / 1 / 6 / 3;
  }

  .project-image-container-even,
  .project-image-container-odd {
    grid-area: 2 / 1 / 3 / 3;
  }

  #contact-content-container {
    grid-template-columns: 1fr;
  }

  #contact-links-container {
    grid-template-rows: repeat(4, 4rem);
  }

  .contact-button {
    padding-left: 1rem;
  }

  .contact-button-background {
    // border-top-right-radius: 0px;
    // border-bottom-right-radius: 0px;
    // background: linear-gradient(
    //   24deg,
    //   rgba(0, 0, 0, 1) 0%,
    //   rgba(70, 69, 69, 1) 69%,
    //   rgba(166, 164, 164, 1) 100%
    // );
    background: linear-gradient(
      24deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(228, 224, 224, 1) 83%,
      rgba(199, 195, 195, 1) 100%
    );
  }

  #linkedin-button:hover + #linkedin-button-background {
    width: calc(100% - 6rem);
    transition: none;
  }

  #github-button:hover + #github-button-background {
    width: calc(100% - 6rem);
    transition: none;
  }

  #email-button:hover + #email-button-background {
    width: calc(100% - 6rem);
    transition: none;
  }

  #pdf-button:hover + #pdf-button-background {
    width: calc(100% - 6rem);
    transition: none;
  }

  #linkedin-button-background,
  #github-button-background,
  #email-button-background,
  #pdf-button-background {
    margin-left: 5rem;
    width: calc(100% - 6rem);
    color: black;
  }

  #contact-form {
    margin-bottom: 1rem;
  }

  .contact-fill-in {
    min-width: 10rem;
  }
}

@media (max-width: 500px) {
  .roll {
    animation: spin 3s ease-in-out 1;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  .nav-link {
    display: none;
  }

  #nav-link-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 0.5rem;
    justify-items: end;
    background-color: transparent;
    transition: all 0.5s linear;
  }

  #nav-link-container.clicked {
    grid-template-rows: 4rem 18rem;
  }

  #mobile-nav-button {
    appearance: none;
    grid-area: 1/1/2/2;
    display: block;
    border: none;
    background-color: white;
    margin: 1rem;
    color: black;
    font-size: 2rem;
    border-radius: 25px;
    padding: 0rem 0.5rem;
    height: 1rem;
    visibility: visible;
    background-color: transparent;
    transition: all 0.5s linear;
  }

  #mobile-nav-button.clicked {
    // background-color: black;
    // color: white;
  }

  #mobile-nav-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    grid-area: 2/1/3/2;
    justify-content: space-around;
    visibility: hidden;
  }

  #mobile-nav-container.active {
    display: flex;
    width: 100%;
    flex-direction: column;
    grid-area: 2/1/3/2;
    justify-content: space-around;
    border: transparent;
  }

  .mobile-buttons {
    appearance: none;
    border: none;
    background-color: transparent;
    color: transparent;
    height: 100%;
    width: 100%;
    transition: all 0.5s linear;
    visibility: hidden;
    font-size: 1.3rem;
  }

  .mobile-buttons.active {
    appearance: none;
    border: 0.5px solid white;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 0.9;
  }

  #mobile-contact-button {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  #battleship-image-container,
  #todo-image-container {
    margin-left: -1rem;
  }

  #library-image-container {
    margin-left: -1rem;
  }

  #weather-app-para,
  #weather-image-container,
  #restaurant-para,
  #restaurant-image-container {
    margin-right: 1rem;
  }
}
